---
layout: default
---

<article class="panel content-body" itemscope itemtype="http://schema.org/CreativeWork">
  {% if page.title %}
    <h1 itemprop="headline">{{ page.title | markdownify | remove: "<p>" | remove: "</p>" }}</h1>
  {% endif %}

  {% if page.modified %}
    <p class="meta"><time datetime="{{ page.modified | date: "%Y-%m-%d" }}">{{ page.modified | date: "%B %d, %Y" }}</time></p>
  {% elsif page.date %}
    <p class="meta"><time datetime="{{ page.date | date_to_xmlschema }}">{{ page.date | date: "%B %d, %Y" }}</time></p>
  {% endif %}

  <section itemprop="text">
    {{ content }}

    {% if page.citation and page.paperurl and page.slidesurl and page.bibtexurl %}
      <p class="meta">Citation: {{ page.citation }}. <a href="{{ page.paperurl }}">Paper</a> · <a href="{{ page.slidesurl }}">Slides</a> · <a href="{{ page.bibtexurl }}">BibTeX</a></p>
    {% elsif page.citation and page.paperurl and page.slidesurl %}
      <p class="meta">Citation: {{ page.citation }}. <a href="{{ page.paperurl }}">Paper</a> · <a href="{{ page.slidesurl }}">Slides</a></p>
    {% elsif page.citation and page.paperurl and page.bibtexurl %}
      <p class="meta">Citation: {{ page.citation }}. <a href="{{ page.paperurl }}">Paper</a> · <a href="{{ page.bibtexurl }}">BibTeX</a></p>
    {% elsif page.citation and page.paperurl %}
      <p class="meta">Citation: {{ page.citation }}. <a href="{{ page.paperurl }}">Paper</a></p>
    {% elsif page.citation and page.slidesurl and page.bibtexurl %}
      <p class="meta">Citation: {{ page.citation }}. <a href="{{ page.slidesurl }}">Slides</a> · <a href="{{ page.bibtexurl }}">BibTeX</a></p>
    {% elsif page.citation and page.slidesurl %}
      <p class="meta">Citation: {{ page.citation }}. <a href="{{ page.slidesurl }}">Slides</a></p>
    {% elsif page.citation and page.bibtexurl %}
      <p class="meta">Citation: {{ page.citation }}. <a href="{{ page.bibtexurl }}">BibTeX</a></p>
    {% elsif page.citation %}
      <p class="meta">Citation: {{ page.citation }}</p>
    {% endif %}

    {% if page.link %}
      <p><a class="section-link" href="{{ page.link }}">Direct link</a></p>
    {% endif %}
  </section>
</article>
